<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lwc-nested-import-bug</title>
  </head>
  <body data-color-mode='dark'>
    <c-app></c-app>
    {{ lwr_resources | safe }}
  </body>
</html>
